
<html>
<head>
<title>Registration Form</title>
</head>
<body>
<h1>This is Registration Form</h1>
<form action="adduser" method="post">
<table border="1" cellpading="10" cellspacing="10">
<tr>
<td>Id</td><td><input type="text" name="id"></td>
</tr>

<tr>
<td>Name</td><td><input type="text" name="name"></td>
</tr>

<tr>
<td>Contact</td><td><input type="text" name="contact"></td>
</tr>

<tr>
<td>Address</td><td><input type="text" name="address"></td>
</tr>

<tr>
<td>Password</td><td><input type="password" name="passw"></td>
</tr>

<tr>
<td><input type="submit" value="Save"></td><td><input type="reset" value="Reset"></td>
</tr>

</table>
</form>
<h3><a href="/">Home</a></h3>
</body
</html>